
@media (max-width: 900px) { 
	
	.container{
		width: 100% !important;
	}
	
	.footer-container{
		width: 100% !important;
	}
}

body{
    font-size: 15px;
    font-family: 'Arial (Hebrew)', Arial;
    width: 100%;
    margin: auto;
    direction: rtl;
    line-height: 1.1;
}


.container{
	width : 900px;
	height:100%;
	margin:0 auto;	
	display:block;
}

header {
	width:100%;
	
}

.nav-block{
	width: 100%;
	display:block;
}

.logo{
    
   padding-top: 20px;
   padding-left:30px;
	float:left;

}

header nav {
     margin: 0;
     padding: 0;

 	float:right;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    display:block;


}

header nav ul li{
	
	display:inline-block;
	vertical-align:middle;
	padding : 5px 10px 5px 10px;

}

 header nav ul li a{
    color: black;      
    text-align: center;
	font-size: 1.1em;
    text-decoration: none;
    display: block; 
}


.subjects{
	width: 100%;
	float:right;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.subjects li{
	width: 20%;
	float:right;
	padding: 0;
    margin: 0;
}

.subjects li img{
	width: 100%;
	display:block;
	padding: 0;
    margin: 0;
}



#cube-img{
width:100%;
height:500px;
position: relative;
display:block;
}

#cube-img img{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
   -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 5s;

}


#cube-img img:nth-of-type(1){

  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

#cube-img img:nth-of-type(2){

  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

#cube-img img:nth-of-type(3){

  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -o-animation-delay: 5s;
  animation-delay: 5s;
}

#cube-img img:nth-of-type(4){

  -webkit-animation-delay: 7s;
  -moz-animation-delay: 7s;
  -o-animation-delay: 7s;
  animation-delay: 7s;
}


@-webkit-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}






.sections{

	display: block;
	width: 100%;
}


.sections ul{

	list-style-type: none;
    padding: 0;
    display: block;	
    border-bottom: 1px solid #e2e2e2;
   }

.sections ul li{
	display:inline-block;
	border-bottom: 2px;
	
		
}

.sec-center{
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}

.section{
	width: 32%;
	padding-bottom: 20px;
}


.sec-header{
	color: black;     
    text-align: right;
	font-size: 1.4em;
 	font-weight: bold;
    text-decoration: none;
    padding:15px 15px 0 15px;
    line-height: 1.5;
}


.sec-main{
	color: black;      
    text-align: right;
	font-size: 0.9em;
    text-decoration: none;
    line-height: 1.5;
    padding:15px;
    height:60px;
}


.image{

	height: 12em;
}

.section img{


	max-height: 100%;
	width: auto;
	display:block;
	padding: 10px;
	margin: auto;
		
}

.read-more{
	padding:7px 15px 7px 15px;
	display: block;
}

.read-more a{

	color: blue;
	font-size: 1.2em;
	text-align: right;
}


.image-fix{
		width: 96% !important;
		padding-top: 22% !important;
	}



#bottom-img{
width:100%;
height:200px;
position: relative;
display:inline-block;
}

#bottom-img img{
	position:absolute;
	display:block;
	width:100%;
	height:100%;
   -webkit-animation-name: imgFade;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 5s;

  -moz-animation-name: imgFade;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
  -moz-animation-duration: 5s;

}


#bottom-img img:nth-of-type(1){

  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

#bottom-img img:nth-of-type(2){

  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}


@-webkit-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@-moz-keyframes imgFade {
 0% {
   opacity:1;
 }
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}


.footer-header{
	width:100%;
    color: #999;    
    text-align: right;
	font-size: 0.8em;
    text-decoration: none;
    line-height: 1.5;
    
}

.footer-header a{
	color: #000;   
    text-align: right;
	font-size: 1em;
 	font-weight: bold;
    text-decoration: none;
}



.footer-main{
	width:100%;
	display:block;
	color: #000;   
    text-align: right;
	font-size: 1em;
    text-decoration: none;
	
}

.footer-main a{
	color: #999;    
    text-align: right;
	font-size: 0.9em;
    text-decoration: none;
    line-height: 1.5;
}

.footer-main a:hover{
	color: #000;
	text-decoration: underline;
}





.footer{
	width: 100%;
	background: #f7f7f7;
	border-top: 1px solid #d7d7d7;
	display:block;
}


.footer-container{
	width : 900px;
	margin:0 auto;	
}

.sections-footer{
	position:relative;
	display: block;
	width: 100%;
	height:500px;
}

.footer-section{
	position:absolute;
	top:10px;
	display: inline-block;

}

.sections-footer ul{

	list-style-type: none;
    padding: 0;
    display: block;	
}

.sections-footer ul li{
	display:inline-block;
	
		
}


.space{
	width:4%;
	display:inline-block;
}


.line{
	margin-top: 20px;
	margin-bottom: 10px;
}


.clearfix{
	clear:both;
	
}

